body {
  font-family: Arial, sans-serif;
  background-color: #ccdde9;
}

#dropdown {
  overflow-y: scroll;
  height: 30px;
}

#userLog {
  display: flex;
  width: 200px;
  margin-top: 20px;
  margin-left: 70%;
}

#roomLog {
  float: right;
  display: flex;
  width: 200px;
  height: 500px;
  margin-left: 70%;
}

#userList {
  float: right;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  border: 1px solid #000;
  padding: 20px;
  border-radius: 5px;
}

.username {
  font-weight: bold;
  margin-right: 10px;
}

.score {
  color: #007bff;
}