.selectbox select {
	-webkit-appearance: auto;
	-moz-appearance: auto;
	appearance: auto;
	width: 180px;
}

.problem-table {
  display: flex;
  flex-wrap: wrap;
}

.problem {
  background: pink;
	width: 150px;
	height: 150px;
	position:static;
	width: auto;
	height: auto;
	position: sticky;
}

.problem h1 {
  margin-top: 0;
}

.problem p {
  font-size: 25px; 
}

body { 
    background-color: rgb(176, 184, 209);
}

h1{
	font-size: xx-large; 
}

select{
	font-size: x-large;
}