label {
  display: flex;
  font: 1rem 'Fira Sans', sans-serif;
  align-items: center;
  margin-bottom: 10px;
}

.send {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
  background-color: #ffe4c4;
  font-family: 'BIZ UDGothic', sans-serif;
}

.cats {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.cat {
  margin: 10px;
}

.cat img {
  width: 400px;
  height: auto;
}

h4 {
  margin-right: 10px;
}

.dog img {
  width: 800px; /* Ncatの画像のみサイズを大きく */
}

.dog {
  position: fixed;
  left: 85%;
  top: 72%;
  transform: translateX(-50%) translateY(-50%);
}

.Bcat {
  position: fixed;
  left: 17%;
  top: 80%;
  transform: translateX(-50%) translateY(-50%);
}

input[type="text"]{
  font-size: 1.2rem;
  font-family: cursive , 'BIZ UDGothic';
  width: 50%; 
  border: 1px solid #1b2538;
  border-radius: 4px;
  color: #1b2538;
  padding:0.5rem 1rem;
  transition: all ease-in-out 0.3s;
  display: flex;
  z-index: 1;
}

input[type="text"]:focus, textarea:focus{
  border: 1px solid #a15e00;
  outline: none;
  box-shadow: 0 0 5px 3px #a15e00;
}

input[type="submit"]{
  font-weight: bold;
  display: inline-block;
	text-align: center;
	padding:0.5rem 1rem;
  margin: 4rem 0 1rem;
  width: 60%;
  font-size: 2rem;
	border-radius: 10px;
	color: #a15e00;
	border: 3px solid #a15e00;
	box-shadow: 5px 5px #a15e00;
	transition: 0.3s ease-in-out;
  z-index: 1;
}
input[type="submit"]:active:hover, .button-container button:active:hover{
  box-shadow: none;
	transform: translate(5px, 5px);
	color: #a15e00;
}